.main{
    display: flex;
    padding: 1rem 15vw;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}

.title{
    margin-bottom: 5vh;
    font-size: xx-large;
    letter-spacing: 1px;

}
.bold{
    font-weight: 900;
    font-style: italic;
    letter-spacing: 1px;
}
.main h2{
    letter-spacing: 0.5px;
    font-style: italic;
    margin-top: 2rem;
}
.main h3{
    letter-spacing: 0.5px;
    margin-top: 1.5rem;
}
.main p{
    margin-bottom: 4vh;
    text-align: justify;
    font-size: larger;
    letter-spacing: 0.5px;
    color: #e1d3e2;
}
@media only screen and (max-width: 600px) {
    .main{
        display: flex;
        padding: 1rem 8vw;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        
    }
  }
  
