.main{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 29, 29);
    padding: 0vh 0vw 10vh 0vw;
    border-radius: 10px;
    min-height: 100vh;
}

.banner{
    display: flex;
    margin-bottom: 0;
    width: 100%;    
    height: 7rem;
    font-size: xx-large;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    background: rgb(107, 72, 139);
    letter-spacing: 1px;
}

.list{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(107, 72, 139);
    
}
.list ul{
    display: flex;
    font-weight: 500;
    align-items: baseline;
    justify-content: center;
    margin: 0;
    gap: 2rem;
    width: min(100vw, 40vw);
}

.list li{
    font-size: larger;
    letter-spacing: 0.5px;
    margin-bottom: 0;
   
}

.list li:hover{
    cursor: pointer;
}

.activeTab{
    color: #ffdd95;
    font-weight: bolder;
    border-bottom:3px solid #ffdd95;
}

.content{
    display: flex;
    margin-top: 5vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.cards{
    display: flex;
    width: fit-content;
    gap: 2rem;
}

.cards:hover> .OwnerCard:not(:hover){
    opacity: 0.2;
    transform: scale(0.8);
    transition: 0.2s ease;
}

.OwnerCard:hover{
    transform: scale(1.1);
    transition: 0.2s ease;
}

@media only screen and (max-width: 600px) {
    .cards{
        display: flex;
        width: fit-content;
        gap: 2rem;
        flex-direction: column;
    }

    .cards:hover> .OwnerCard:not(:hover){
        opacity: 1;
        transform: scale(1);
        transition: 0.2s ease;
    }
    
    .OwnerCard:hover{
        transform: scale(1);
        transition: 0.2s ease;
    }
}

