.main {
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.image {
  border-radius: 15px;
  min-width: 20vw;
  min-height: 40vh;
  align-self: flex-start;
  margin-top: 5rem;
  margin-left: 0rem;
}

.fav {
  width: 2rem;
  height: 2rem;
}
.content {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
  /* align-items: center;  */
  margin-top: 3rem;
  height: 450px;
  width: 650px;
}

.lY {
  display: flex;
  margin-bottom: 24px;
}

.car {
  margin-right: 6rem;
}

.title {
  align-self: flex-start;
  margin-top: 2rem;
  font-size: 55px;
  font-weight: 300;
}
.contentM {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  width: fit-content;
  flex-shrink: calc();
}

.genre {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 8px;
  font-weight: 600;
}
.head {
  font-size: 14px;
  color: #86888d;
}

.badges {
  display: flex;
  width: 13vw;
  justify-content: space-between;
}

.bod {
  font-size: 14px;
  color: #ffffff;
}
.contain {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.scroll {
  width: 800px;
  height: 100px;
  word-wrap: break-word;
  text-align: justify;
  font-size: medium;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-bottom: 2rem;
  border-bottom: 1px solid grey;
}

.scroll::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 600px) {
  .contain {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4vw;
    width: 100vw;
  }

  .image {
    border-radius: 15px;
    align-self: center;
    margin-top: 2rem;
    width: 100;
    height: 250;
  }

  .contentM {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: center;
    margin-left: 0rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 0rem;
  }
  .head2 {
    margin-left: 0rem;
  }

  .fav {
    width: 2rem;
    height: 2rem;
  }

  .title {
    margin-top: 0rem;
    margin-left: 1rem;
    font-size: 35px;
    font-weight: 100;
    width: 80vw;
  }
  .scroll {
    width: 100%;
    height: 200px;
    word-wrap: break-word;
    text-align: justify;
    font-size: medium;
    overflow: scroll;
    scrollbar-width: thin;
    -ms-overflow-style: none;
    margin-bottom: 2rem;
  }
  .last {
    align-self: center;
    justify-content: center;
    margin-left: 1vw;
  }

  .scroll::-webkit-scrollbar {
    display: none;
  }
  .car {
    margin-right: 0.5rem;
    margin-left: 1vw;
  }
}
