

.commentContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  width: fit-content;
  margin-left: 1.8vw;
}

.buttonContainer Button {
  background-color: transparent;
  padding: 3px;
  margin-top: 0px;
  padding: 0px;
  margin-left: 0.1rem;
  margin-right: 0.2rem;
}

.reply {
  width: fit-content;
}
.replies {
  margin-left: 10vw;
}

@media only screen and (max-width: 600px) {
  .replies {
    margin-left: 15vw;
  }
}
