.contain {
  align-items: center;
  display: flex;
}

.image {
  border-radius: 15px;
  align-self: flex-start;
  margin-top: 5rem;
  margin-left: 2rem;
  width: 350;
  height: 430;
}

.contentM {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 3rem;
  margin-top: 4rem;
}

.lY {
  display: flex;
  margin-bottom: 24px;
}

.car {
  margin-right: 6rem;
}

.bod {
  font-size: 14px;
  color: #ffffff;
}

.head {
  font-size: 14px;
  color: #86888d;
}

.genre {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 8px;
  font-weight: 600;
}

.scroll {
  width: 800px;
  height: 100px;
  word-wrap: break-word;
  text-align: justify;
  font-size: medium;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-bottom: 2rem;
  border-bottom: 1px solid grey;
}

.scroll::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 600px) {
  .contain {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .lY {
    width: 90vw;
  }
  .car {
    margin-right: 1.4rem;
    margin-left: 1.4rem;
  }

  .image {
    border-radius: 15px;
    align-self: center;
    margin-top: 2rem;
    margin-left: 0.5rem;
    width: 100;
    height: 230;
  }

  .contentM {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: center;
    margin-left: 0rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    /* margin-right: 0.5rem; */
  }

  .scroll {
    width: 350px;
    height: 200px;
    word-wrap: break-word;
    text-align: justify;
    font-size: medium;
    overflow: scroll;
    scrollbar-width: thin;
    -ms-overflow-style: none;
    margin-bottom: 2rem;
  }
  .last {
    margin-left: 1.2rem;
  }

  .scroll::-webkit-scrollbar {
    display: none;
  }

  .title {
    align-self: center;
    justify-self: center;
    margin-right: 0.5rem;
  }

  .rating {
    justify-content: center;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
  }
}
