.page {
  color: red;
}

.main {
  background-color: rgb(23, 22, 22);
  width: 100vw !important;
}
.Navbar {
  width: 100vw !important;
}

.nextui-c-egxOLa {
  max-width: 100% !important;
}



.active{
  color: #b668c5;
  font-weight: 600;
  border-bottom: 3px solid #b668c5;
  padding-bottom: 0;
  letter-spacing: 1px;
  font-size: 1.3rem;
}