.main{
    display: flex;
    flex-wrap: wrap;
    /* left:30%; */
    justify-content: center;
}
.greeting{
    display: flex;
    margin-bottom: 0;
    width: 100%;    
    height: 7rem;
    font-size: xx-large;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    background: rgb(107, 72, 139);
    letter-spacing: 1px;
}
.tab{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(107, 72, 139);
    
}
.tab ul{
    display: flex;
    font-weight: 500;
    justify-content: space-around;
    align-items: baseline;
    margin: 0;
    width: min(100vw, 500px);
}
.tab li{
    font-size: larger;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    
}
.tab li:hover{
    cursor: pointer;
}
.active{
    color: #ffdd95;
    font-weight: bolder;
    border-bottom:3px solid #ffdd95;
}
/* .box{

} */
.container{
    /* margin-left: 12rem; */
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: min(800px, 100vw);
}
.box h2{
    margin: 2rem 1.5rem;
    letter-spacing: 1px;
}
.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1rem;
}
.section li{
    padding: 0.25rem 1rem;
    margin-inline: 0.25rem;
    color: whitesmoke;
    background-color: #3a3a3a;
    border-radius: 5px;
    letter-spacing: 0.5px;
}
.section li:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s ease;
}
.section_active{
    background-color: #ac95ff !important;
    color: #252525 !important;
    font-weight: bold;
}

.box h3{
    margin-left: 1.8rem;
    margin-top: 2rem;
    letter-spacing: 1px;
    /* font-size: larger; */
}
.image_container{
  padding: 0.2rem 1rem;
  margin-right: auto ;
  margin-left: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  background-color: #ac95ff;
  justify-self: center;
  color: #252525;
  letter-spacing: 1.5px;
  border-radius: 15px;
}


/** CARD CSS STARTS HERE */

.card {
    position: relative;
    width: 200px;
    height: 320px;
    background: #131313;
    overflow: hidden;
    border-radius: 10px;
    /* margin-inline: 0.7rem; */
    margin: 1.5rem ;
  }
  .card:hover{
    cursor: pointer;
    transform: scale(1.04);
    transition: 0.3s ease;
  }
  
  .temporary_text {
    font-weight: bold;
    font-size: 24px;
    padding: 6px 12px;
  }
  
  .card_title {
    font-weight: bold;
    font-size: larger;
    color: #e0d9e2fd !important;
  }
  
  .card_content {
    position: absolute;
    left: 0;
    bottom: 0;
      /* edit the width to fit card */
    width: 100%;
    padding: 18px 10px;
    background: #403f41;
    color: #e1d3e2;
    border-top-left-radius: 20px;
      /* edit here to change the height of the content box */
    transform: translateY(55%);
    transition: transform .25s;
  }
  
  .card_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #403f41;
  }
  
  .card_title {
    color: #131313;
    line-height: 25px;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0.2px;
  }
  
  .card_subtitle {
    display: block;
    font-size: 13px;
    margin-bottom: 10px;
  }
  .card_subtitle ul{
    display: flex;
    margin: 2px;
    justify-content: space-between;
  }
  .card_subtitle ul li{
    font-size: 13px;
    margin-bottom: 0;
    color: #e1d3e2;
    font-weight: bold;
    letter-spacing: 0.2px;
  }
  
  .card_description {
    font-size: 12px;
    opacity: 0;
    transition: opacity .5s;
  }
  .synopsis{
    font-size: small;
    letter-spacing: .2px;
    font-weight: 550;
  }  
  .under_synopsis{
    display: flex;
    justify-content: space-between;
    
  }
 .card_content:hover{
    transform: translateY(0);
  }
  .card_content:hover .card_title{
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }
  
  .card:hover .card_description {
    opacity: 1;
    transition-delay: .25s;
  }
 
  
/** CARD CSS ENDS HERE  */


@media only screen and (max-width: 600px){
  .card{
    margin-inline: 0.2rem;
    width: 160px;
    height: 250px;
    /* w */
  }
  .container{
    justify-content: space-around;
  }
  .card_content{
    display: flex;
    flex-wrap: wrap;
    transform: translateY(70%);
    border-radius: 0px;
    padding: 10px;
  }
  .card_content::before{
    display: none;
  }
  .card_title{
    
    line-height: 25px;
    font-size: medium;
    
  }
  
}